<div class="container">
    <h2 class="text-center my-4">Customer List</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Gender</th>
                <th class="text-center">Age</th>
                <th colspan="2" class="text-center">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>{{customer.id}}</td>
                <td>{{customer.name}}</td>
                <td>{{customer.address}}</td>
                <td>{{customer.gender}}</td>
                <td class="text-center">{{customer.age}}</td>
                <td>
                    <button (click)="onUpdate(customer.id)" class="btn btn-warning">Update</button>
                </td>
                <td>
                    <button (click)="onDelete(customer.id)" class="btn btn-danger">Delete</button>
                    </td>
            </tr>
        </tbody>
    </table>
        <button class="btn btn-success" (click)="onAdd()">Add customer</button>
    
</div>